<h4>
  post
</h4>

<%= form_for (@foodbox) do |f| %>

  <%= f.text_field :restaurant, :placeholder => "restaurant" %><br />

  <%= f.text_field :photo, :placeholder => "Image URL"%><br />


  <%= f.text_field :comment, :placeholder => "comment" %><br />


  <%= f.submit "SENT" %>
<% end %>
