<h3>
    <%= @nickname %>'s page
</h3>
<% @foodboxes.each do |foodbox| %>
  <h2><%= foodbox.restaurant %></h2>
  <%= image_tag foodbox.photo, :size => "300x300" %>
  <p><%= foodbox.user.nickname %></p>
  <p><%= foodbox.comment %></p>
<% end %>
