<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
 
<!--   <link rel="stylesheet" href="app/assets/stylesheets/animate.css"> -->
  <!-- Icomoon -->
 <!--  <link rel="stylesheet" href="app/assets/stylesheets/icomoon.css"> -->
  <!-- Bootstrap  -->
  <!-- <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.css"> -->

  <!-- <link rel="stylesheet" href="app/assets/stylesheets/style.css"> -->
  <%= stylesheet_link_tag "animate" %>
  <%= stylesheet_link_tag "icomoon" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "application" %>




  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>
  <body>

  <header id="fh5co-header">
    
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-12 col-md-12 text-center">
          <h1 id="fh5co-logo"><a href="/">Eatingram <!-- <sup>TM</sup> --></a></h1>
        </div>

      </div>
    </div>
      <%= link_to "mypage", user_path(current_user.id), method: :get %>
  </header>

<%= yield %>

</body>
</html>
