<!DOCTYPE html>
<html>
<head>
  <title>Eatingram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1 href="/">Eatingram</h1>
  <% if user_signed_in? %>
    <%= current_user.nickname %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete %>
      <a href="/foods/new">post</a>
  <% else %>
        <a href="/users/sign_up">sign up</a>
        <a href="/users/sign_in">sign in</a>
  <% end %>
</header><!-- /header -->

<%= yield %>

</body>
</html>
