<!DOCTYPE html>
<html>
<head>
  <title>Eatingram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><a href="/">Eatingram</a></h1>
  <% if user_signed_in? %>
    <%= current_user.nickname %>
      <%= link_to "sign out", destroy_user_session_path, method: :delete %>
      <%= link_to "post", new_foodbox_path, method: :get %>
      <%= link_to "mypage", user_path(current_user.id), method: :get %>
  <% else %>
        <%= link_to "sign up", new_user_registration_path, method: :get %>
        <%= link_to "sign in", new_user_session_path, method: :get %>
  <% end %>
</header><!-- /header -->

<%= yield %>

</body>
</html>
